{{page-title "MySubsidies"}}
<AuBodyContainer class="au-u-background-gray-100" >
  <AuToolbar @border="bottom" @size="medium" as |Group|>
    <Group>
      <AuHeading @skin="5">Lopende Subsidies</AuHeading>
    </Group>
  </AuToolbar>
  <div class="au-o-box au-o-box--small">
    <AuList as |listitem|>
      <listitem>
        <AuCard @size="small" class="c-overview-card" as |card|>
          <card.header>
            <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-flex--spaced">
              <AuLink @route="subsidies.active" class="au-u-h6 au-u-medium c-overview-card__link">
                Erkenning en subsidiëring van een landelijk georganiseerde jeugdvereniging
              </AuLink>
              <AuPill @skin="success" @draft={{true}}>
                Ingediend
              </AuPill>
            </div>
          </card.header>
          <card.content class="au-o-flow">
            <p class="au-u-h-functional">
              <strong>Deadline:</strong> 06 december 2023 - 
              <AuLinkExternal @icon="external-link" @iconAlignment="right" href="" class="c-external">
                Meer info 
              </AuLinkExternal></p>
          </card.content>
        </AuCard>
      </listitem>
    </AuList>
  </div>
  <AuToolbar @border="bottom" @size="medium" as |Group|>
    <Group>
      <AuHeading @skin="5">Historiek</AuHeading>
    </Group>
  </AuToolbar>
  <AuBodyContainer @scroll={{true}}>
    <div class="au-o-box au-o-box--small">
      <AuList as |listitem|>
        <listitem>
          <AuCard @size="small" class="c-overview-card" as |card|>
            <card.header>
              <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-flex--spaced">
                <AuLink class="au-u-h6 au-u-medium c-overview-card__link">
                  Erkenning en subsidiëring van een landelijk georganiseerde jeugdvereniging
                </AuLink>
                <AuPill @skin="default">
                  Verlopen
                </AuPill>
              </div>
            </card.header>
            <card.content class="au-o-flow">
              <p class="au-u-h-functional">
                <strong>Deadline:</strong> 06 december 2022 - 
                <AuLinkExternal @icon="external-link" @iconAlignment="right" href="" class="c-external">
                  Meer info 
                </AuLinkExternal></p>
            </card.content>
          </AuCard>
        </listitem>
      </AuList>
    </div>
  </AuBodyContainer>
  <Pagination />
</AuBodyContainer>