<div class="c-navigation-header">
  <Navigation />
  <AuLink @route="dashboard.updates" @skin="button-secondary">
    <AuIcon @icon="notification" @iconAlignment="left" />
    Notificaties
  </AuLink>
</div>