<ul class="au-u-flex au-c-list-horizontal timeline">
    <li class="timeline__item">
        <AuPill @skin="success" @icon="check">
            Samenstelling
        </AuPill>
    </li>
    <li class="timeline__item">
        <AuPill @skin="link" @icon="clock">
            Behandeling - <span style="font-weight: 400">Klaar voor beslissing</span>
        </AuPill>
    </li>
    <li class="timeline__item">
        <AuPill @skin="default">
            <span style="font-weight: 400">Beslissing</span>
        </AuPill>
    </li>
    <li class="timeline__item">
        <AuPill @skin="default">
            <span style="font-weight: 400">(Beroep)</span>
        </AuPill>
    </li>
    <li class="timeline__item">
        <AuPill @skin="default">
            <span style="font-weight: 400">(Uitvoering)</span>
        </AuPill>
    </li>
    <li class="timeline__item">
        <AuPill @skin="default">
            <span style="font-weight: 400">Afgerond</span>
        </AuPill>
    </li>
</ul>