<li class="c-timeline__item {{this.statusClass}}">
  <AuIcon @icon={{ @icon }} />
  <p class="c-timeline__item__label">{{ @step }}</p>

  {{#if (eq @status "ongoing")}}
    <p>- {{ @code }}</p>
  {{/if}}

</li>