{{page-title "Datasources"}}

<AuToolbar @size="medium" as |Group|>
  <Group>
    <AuHeading @skin="4">Data bronnen</AuHeading>
  </Group>
</AuToolbar>
<AuBodyContainer>
  <div class="au-o-box">
    
  </div>
</AuBodyContainer>