{{page-title "Messages"}}

<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Type
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Kennisgeving
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Opvraging
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Datum
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Deze maand
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Dit kwartaal
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Specifiek
            </AuNavigationLink>
          </li>
        </ul>
      </div>
    </div>
  </m.sidebar>
  <m.content>  
    <AuBodyContainer class="au-u-background-gray-100" >
      {{outlet}}
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <AuHeading @skin="5">Berichten</AuHeading>
        </Group>
      </AuToolbar>
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            <listitem>
              <AuCard @size="small" class="c-overview-card" as |card|>
                <card.header>
                  <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-flex--spaced">
                    <AuLink class="au-u-h5 au-u-medium c-overview-card__link">
                      Omzendbrief betreffende de impact van de coronamaatregelen op overheidsopdrachten
                    </AuLink>
                    <AuPill>
                      Kennisgeving
                    </AuPill>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional">
                    <strong>Dossier-nummer:</strong> Omzendbrief KB 2020/01
                  </p>
                  <p class="au-u-h-functional au-u-margin-top-tiny">
                    <strong>Laatste bericht:</strong> 06 december 2023 - Agentschap Binnenlands Bestuur
                  </p>
                </card.content>
              </AuCard>
            </listitem>
            <listitem>
              <AuCard @size="small" class="c-overview-card" as |card|>
                <card.header>
                  <div class="au-u-flex au-u-flex--between au-u-flex--vertical-center au-u-flex--spaced">
                    <AuLink class="au-u-h5 au-u-medium c-overview-card__link">
                      KLACHT2019.000428 tegen AALTER: opvraging aan bestuur
                    </AuLink>
                    <AuPill>
                      Opvraging
                    </AuPill>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional">
                    <strong>Dossier-nummer:</strong> KLACHT2019.000428
                  </p>
                  <p class="au-u-h-functional au-u-margin-top-tiny">
                    <strong>Laatste bericht:</strong> 06 december 2023 - Agentschap Binnenlands Bestuur
                  </p>
                </card.content>
              </AuCard>
            </listitem>
          </AuList>
        </div>
      </AuBodyContainer>
      <Pagination />
    </AuBodyContainer>
  </m.content>
</AuMainContainer>