{{page-title "Messages"}}
<AuToolbar @size="medium" as |Group|>
  <Group>
    <AuHeading @skin="4">Berichten</AuHeading>
  </Group>
</AuToolbar>
<AuBodyContainer>
  <div class="au-o-box">
  </div>
</AuBodyContainer>