{{page-title "Reporting"}}

<AuToolbar @size="medium" as |Group|>
  <Group>
    <AuHeading @skin="4">Rapporten</AuHeading>
  </Group>
</AuToolbar>
<AuBodyContainer>
  <div class="au-o-box">
  </div>
</AuBodyContainer>