{{page-title "Reporting"}}

<AuMainContainer as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Datum
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Deze maand
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Dit kwartaal
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink>
              Specifiek
            </AuNavigationLink>
          </li>
        </ul>
      </div>
    </div>
  </m.sidebar>
  <m.content>  
    <AuBodyContainer class="au-u-background-gray-100" >
      {{outlet}}
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <AuHeading @skin="5">Rapporten</AuHeading>
        </Group>
      </AuToolbar>
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            <listitem>
              <AuCard @size="small" class="c-overview-card" as |card|>
                <card.header>
                  <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                    <Favorite />
                    <AuLink class="au-u-h5 au-u-medium c-overview-card__link">
                      Rapport titel
                    </AuLink>
                  </div>
                </card.header>
                <card.content class="au-o-flow">
                  <p class="au-u-h-functional">
                    <strong>Rapportering voor:</strong> 06 december 2023
                  </p>
                </card.content>
              </AuCard>
            </listitem>
          </AuList>
        </div>
      </AuBodyContainer>
      <Pagination />
    </AuBodyContainer>
  </m.content>
</AuMainContainer>