{{page-title "Index"}}
<AuBodyContainer @scroll={{true}}>
  <div class="au-o-box">
    <AuContent>
      <div class="au-o-grid au-o-grid--small au-u-margin-top-none">
        <div class="au-o-grid__item au-u-1-3@medium">
          <p class="au-u-h6">
            <strong>Periode:</strong> 2022
            <AuHelpText @skin="secondary" class="au-u-margin-top-none">
              01 november 2022 - 31 december 2023
            </AuHelpText>
          </p>
        </div>
        <div class="au-o-grid__item au-u-1-3@medium">
          <p class="au-u-h6"><strong>Deadline:</strong> 06 december 2023</p>
        </div>
        <div class="au-o-grid__item au-u-1-3@medium au-u-text-right@medium">
          <AuPill @skin="border">
          Jeugd
        </AuPill>
        </div>
      </div>
      <p>
        De Vlaamse overheid erkent en subsidieert verenigingen die aan jeugdwerk doen. Jeugdwerk is sociaal-cultureel werk op basis van niet-commerciële doelen voor of door de jeugd van 3 tot en met 30 jaar, in de vrije tijd, onder educatieve begeleiding en ter bevordering van de algemene en integrale ontwikkeling van de jeugd die daaraan deelneemt op vrijwillige basis.
      </p>
      <p class="au-u-h-functional">
        <AuLinkExternal @icon="external-link" @iconAlignment="right" href="#!" class="c-external">
          Meer info 
        </AuLinkExternal>
      </p>
    </AuContent>
  </div>
</AuBodyContainer>