{{page-title "Info"}}
<AuBodyContainer @scroll={{true}}>
  <div class="au-o-box">
    <AuContent>
      <p>
        De Vlaamse overheid erkent en subsidieert verenigingen die aan jeugdwerk doen. Jeugdwerk is sociaal-cultureel werk op basis van niet-commerciële doelen voor of door de jeugd van 3 tot en met 30 jaar, in de vrije tijd, onder educatieve begeleiding en ter bevordering van de algemene en integrale ontwikkeling van de jeugd die daaraan deelneemt op vrijwillige basis.
      </p>
      <p class="au-u-h-functional">
        <AuLinkExternal @icon="external-link" @iconAlignment="right" href="#!" class="c-external">
          Meer info 
        </AuLinkExternal>
      </p>
    </AuContent>
  </div>
</AuBodyContainer>
