{{page-title "Dashboard"}}

<LayoutDashboard @loggedIn={{true}}>
  <NavigationHeader />
  <AuMainContainer as |m|>
    <m.sidebar>
      <div class="au-c-sidebar">
        <div class="au-c-sidebar__content">
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__section-title">
              Thema's
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Jeugd
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Sport
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Cultuur
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Vrije tijd
              </AuNavigationLink>
            </li>
          </ul>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__section-title">
              Deadline
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Deze week
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Deze maand
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Dit kwartaal
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                Specifiek
              </AuNavigationLink>
            </li>
          </ul>
        </div>
      </div>
    </m.sidebar>
    <m.content>
      {{outlet}}
    </m.content>
  </AuMainContainer>
</LayoutDashboard>